<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<%= form_tag(action: :pay, method: :post) do %>
  <script type="text/javascript"
    src="https://checkout.pay.jp"
    class="payjp-button"
    data-key="pk_test_ec6e9870e838ed6237bf6620">
  </script>
<% end %>

<br/>
<!-- card 情報を選択して購入するテンプレート-->
<%= render "shared/onepay" %> 

<%= render "shared/user_info" %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
